

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login_form {
    display: flex;
    justify-content: center;
}

.login_header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.login_input {
    width: 145px;
    color: #000;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 15px;
    box-shadow:  2px 4px 5px rgba(0, 0, 0, 0.3);
}

/*Button*/
.play_button {
    display: block;
    width: 145px;
    color: #fff;
    background-color: #8774FF;
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
    border: 0px;
    box-shadow:  2px 4px 5px rgba(0, 0, 0, 0.3);
}

.play_button:disabled{
    background-color: #afa3ff;
}
.play_button:disabled:hover{
    cursor: auto;
    background-color: #afa3ff;
}


.play_button:hover {
    cursor: pointer;
    background-color: #695bc0;
}
/*Fim*/



.imagem_brain{
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 20px;

}