@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Magra", sans-serif;

    
}

body {
    height: 100%;
    background-color: #f1f1f1;
}